.wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  z-index: 999;
  opacity: 0.9;
}

.edit-window {
  width: 30rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  z-index: 1000;
}

.edit-window-light {
  color: white;
  background-color: black;
  border: 1px solid white;
}

.edit-window-light input {
  color: white !important;
}

.edit-window-dark {
  color: black;
  background-color: white;
  border: 1px solid black;
}
.edit-window-dark input {
  color: black !important;
}
