.wrapper {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  margin: 20px;
}

.title {
  font-size: 48px;
}

.theme-switch {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.current-theme {
  border: 1px solid;
  padding: 5px;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .title {
    font-size: 36px;
  }
}
