.wrapper {
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;

}

.task-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: flex-end;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    z-index: 100;
    
}

.icon-wrapper:hover {
    cursor: pointer;
}