.wrapper {
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.task-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: flex-end;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.icon-wrapper:hover {
  cursor: pointer;
}
