.app-theme-white {
  color: black;
  background-color: white;
}
.app-theme-white input {
  color: black;
}

.app-theme-dark {
  color: white;
  background-color: black;
}

.app-theme-dark input {
  color: white;
}

.app-theme-dark svg {
  fill: white;
}

.app-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  overflow: hidden;
}


